 .App {
  font-family: 'Advent Pro', sans-serif; 
  /* text-align:center;   
  height:100%; */
 }  

main{ 
  height: 200vh;
  padding-left:15px; 
  padding-right:15px; 
  display:flex; 
  justify-content: center;
  background-color:#FDFFFC;
}  

/* .body{  
  display: flex; 
  flex-direction:column; 
  text-align:center;  
  height: 100%;

} */
.navbar {
  display: flex; 
  padding: 10px;
  width: 100vw; 
  height: 60px;
  box-sizing: border-box;
  justify-content:space-around;
  background-color:#031926;    
  font-family: 'Advent Pro', sans-serif; 
}   
.Footer {
  display:flex; 
  position: fixed;  
  bottom:0; 
  left:0;
  right:0;
  width: 100vw; 
  height: 80px;
  background-color: #031926;   
  z-index: 1; 
}

.hometext {
  color:#EBEBD3; 
  text-decoration: none; 
  font-size: 20px; 
  padding-bottom: 10px; 
  font-weight: bold;
}   
.searchbar {
  padding-right: 20px; 
  border-radius: 10px;
} 

  /* button{
  padding: 15px 25px; 
  font-size: 12px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color:#CE4257;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999; 
  font-weight: bold;  
}   */

Button {
  text-decoration: none;   
  display:inline-flex; 
  align-content:center;
}

.new {
 display:inline-flex; 
 padding:35px;
 
}   
.contact {
  width:65vw; 
  padding-top:40px; 

} 

.searchbar {
  padding: 30px;
}

