 .App {
  font-family: 'Advent Pro', sans-serif; 
 }  

main{ 
  height: 250vh;
  display:flex; 
  justify-content: center;
  background-color:#FDFFFC;   
  color:#031926;  
}  

.navbar {  
  width: 100vw; 
  height: 60px;
  justify-content:space-around;
  background-color:#AE1E31;    
  font-family: 'Advent Pro', sans-serif; 
  position: fixed;  
  z-index: 1;   

  
}  
/* #FF6978 */ 

.Footer {
  display:flex; 
  position: fixed;  
  bottom:0; 
  left:0;
  right:0;
  width: 100vw; 
  height: 80px;
  background-color:#AE1E31;   
  /* z-index: 1;   */
  justify-content: space-evenly; 
}



Button {
  text-decoration: none;   
  display:inline-flex; 
  align-content:center;
}

.new {
 display:inline-flex; 
 padding:35px;
 
}   
.contact {
  width:65vw; 
  padding-top:80px; 

} 

 
.searchbar {
  padding: 30px;
}
.recipe-form { 
  width:65vw; 
  padding-top:200px;  
}


.home{ 
  display:flex; 
  justify-content: center; 
  align-items:flex-start;
  padding-top:200px;   
  width:100vw; 
  height:auto;
  background-image:url("./components/bar.jpg"); 
  background-size:cover;
  background-position: bottom;  
  opacity:0.9;
    

} 

.shaken-list{
  padding-top:220px;  
 
} 
.stirred-list{
  padding-top:220px;
} 

.recipe{
  padding-top:200px; 
  padding-left:10px; 
  padding-right:10px; 
}  
a {
  color:#AE1E31;
  text-decoration: none;
  background-color: transparent;
} 
.navbar-light .navbar-brand {
  color: white;
} 
img{
  width: 40px;
  height: 60px;   
  padding-top: 20px; 
  
} 


.contact {
  padding-top:200px;  
  display:inline-flex; 
  justify-content: flex-start; 
  align-items: center; 
  flex-direction: column;
  padding-top:200px;    
  height:auto; 
  width:100%;
  background-image:url("./components/bar.jpg"); 
  background-size:cover;
  background-position:bottom;  
  color:white; 
  text-emphasis:strong;  
  opacity:0.9;  
} 
.navbar-light .navbar-nav .nav-link {
  color:white;
} 

a.nav-link {
  padding-left:10px;
} 
.navbar-nav {
  list-style: none;
  background:#AE1E31; 
  padding-left: 10px;

} 
